# Best practice is to copy this file to .env and change these values

# Public URL Vikunja will be reachable at (used for links in emails, CalDAV, etc.)
# Trailing slash required.
VIKUNJA_SERVICE_PUBLICURL=https://vikunja.anarchy.pizza/

# Generate a secure random secret, e.g. `openssl rand -base64 32`
VIKUNJA_SERVICE_SECRET=changeme

# Set to false once you've created your account(s)
VIKUNJA_SERVICE_ENABLEREGISTRATION=true

# format is jdbc-style host/user/db, must match the POSTGRES_* values below
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_HOST=vikunja-postgresql
VIKUNJA_DATABASE_USER=vikunja # must match POSTGRES_USER
VIKUNJA_DATABASE_PASSWORD=vikunja # must match POSTGRES_PASSWORD
VIKUNJA_DATABASE_DATABASE=vikunja # must match POSTGRES_DB

POSTGRES_USER=vikunja
POSTGRES_PASSWORD=vikunja
POSTGRES_DB=vikunja
