version: '3.7'

services:
  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    restart: unless-stopped
    ports:
      - "9008:9000"   # S3 API
      - "9009:9001"   # Console UI
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - /storage/appdata/gold/minio:/data
    networks:
      - anarchy-pizza
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  anarchy-pizza:
    external: true
